/* 
p{
    color: rgb(140, 0, 255);
    background-color: rgb(49, 226, 43);
}
h1{
    color: rgb(157, 255, 0);
} */
.food{
    color: aqua;
}
.person{
    color: red;
}
.describe{
    color: purple;
}
.background-color{
    background-color: black;
}
#css-h1{
    color: yellow;
    background-color: gray;
}